@model GSTEducationERPLibrary.Accountant.Accountant
@using System.Globalization

<html>
<head>
    <link href="~/Content/Admin/css/UI.css" rel="stylesheet" />
    <style>
        .modal-header .close {
            font-size: 2.5rem; /* Set the font size */
            padding: 15px; /* Increase padding to increase overall size */
            transition: color 0.3s; /* Add transition effect for smooth hover */
        }

            .modal-header .close:hover {
                color: red; /* Change the color on hover */
            }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <table id="ShortlistedStudents" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffCode)
                        </th>
                        <th>
                           Name
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            designation
                        </th>
                        <th>
                            Monthly Basic Salary
                        </th>
                        <th>
                            Advance Amount
                        </th>

                    </tr>
                </thead>
                <tbody id="staffListBody">
                    @if (Model != null && Model.lstAllEmpAdvancePay != null)
                    {
                        for (int i = 0; i < Model.lstAllEmpAdvancePay.Count; i++)
                        {
                            var item = Model.lstAllEmpAdvancePay[i];
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffPosition)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MonthlyBasicSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdvanceAmount)
                                </td>



                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <!--<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Staff Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">-->
    <!-- Content will be loaded here -->
    <!--</div>
            </div>
        </div>
    </div>-->

    <script src="~/Content/plugins/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ShortlistedStudents').on('click', '.icon', function () {
                var VoucherCode = $(this).data('id');
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#EditTaskModal .modal-body').html(data);
                        $('#EditTaskModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>

