@model GSTEducationERPLibrary.Accountant.Accountant
@using System.Globalization

<html>
<head>
    <link href="~/Content/Admin/css/UI.css" rel="stylesheet" />
    <style>
        .modal-header .close {
            font-size: 2.5rem; /* Set the font size */
            padding: 15px; /* Increase padding to increase overall size */
            transition: color 0.3s; /* Add transition effect for smooth hover */
        }

            .modal-header .close:hover {
                color: red; /* Change the color on hover */
            }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <table id="ShortlistedStudents" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.StaffName)</th>
                        @for (int day = 1; day <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); day++)
                        {
                            <th>@day</th>
                        }
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="staffListBody">
                    @if (Model != null && Model.lstAllEmpAttendance != null)
                    {
                        var groupedByStaff = Model.lstAllEmpAttendance.GroupBy(a => a.StaffName).ToList();
                        foreach (var staffGroup in groupedByStaff)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => staffGroup.Key)</td>
                                @for (int day = 1; day <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); day++)
                                {
                                    var attendance = staffGroup.FirstOrDefault(a =>
                                    {
                                        DateTime date;
                                        bool isValidDate = DateTime.TryParseExact(a.Date, "dd/MM/yyyy", null, System.Globalization.DateTimeStyles.None, out date);
                                        return isValidDate && date.Day == day;
                                    });

                                    var status = attendance?.Status switch
                                    {
                                        "Present" => "P",
                                        "Half Day" => "HD",
                                        _ => "-"
                                    };

                                    <td>@status</td>
                                }
                                <td style="text-align: center;">
                                    <a href="@Url.Action("GetSpecificStaffAttendanceAsyncSS", "Accountant", new { StaffCode = staffGroup.First().StaffCode })" class="icon" title="View">
                                        <video width="25" height="25" playsinline loop>
                                            <source src="~/Content/Admin/icon/view.mp4" type="video/mp4" />
                                        </video>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/Content/plugins/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>
