@model GSTEducationERPLibrary.Accountant.Accountant

<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/Admin/js/Icon.js"></script>


<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $('#example1').on('click', '.icon, .icon1, .icon2', function () {
            var MockId = $(this).data('id');
            var url = $(this).data('action');
            jQuery.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    jQuery('#PerformanceModal .modal-content').html(data);
                    jQuery('#PerformanceModal').modal('show');
                }
            });
        });
    });
</script>

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpID)
                    </th>
                    <th>
                        Expense Type
                    </th>
                    <th>
                        Reference By Name
                    </th>
                    <th>
                        Reference To Name
                    </th>
                    <th>
                        Payment Mode
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Amount
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.lstRegularExpense)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceByName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceToName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>

                            <a id="DetailPartialView" href="#" data-id="@item.ExpID">

                                <video width="25" height="25" playsinline loop>
                                    <source src="~/Content/Admin/icon/viewEye.mp4" type="video/mp4">
                                </video>
                            </a>

                        </td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Click event handler for the video icon link
        $("#DetailPartialView").click(function (e) {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.data('id');
            e.preventDefault(); // Prevent default link behavior

            // AJAX request to load the partial view content
            $.ajax({
                url: '@Url.Action("ViewTheExpenseDetailsAsyncMB", "Accountant")', // Replace with your action method and controller
                type: 'GET',
                data: { ExpCode: id },
                success: function (data) {
                    $('#PerformanceModal .modal-body').html(data);
                    // Show the modal
                    $('#PerformanceModal').modal('show');
                },
                error: function () {
                    alert('Error loading content.');
                }
            });
        });



    });
</script>

<div class="modal fade " id="PerformanceModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white; width: 800px">
            <div class="modal-body">
                <!-- Content for Schedule Modal -->
            </div>
        </div>
    </div>
</div>








