@model GSTEducationERPLibrary.Accountant.Accountant
@using System.Globalization


@{
    ViewBag.Title = "ShowAllSalaryAsyncSS";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self Salary Slip</title>
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <style>
        th {
            background-color: #33CCCC;
            color: #000;
            text-align: center !important;
            font-size: 16px !important; /* Increased font size */
            padding: 10px !important; /* Increased padding */
        }

        h2 {
            padding-top: 10px;
            margin-bottom: 10px;
            font-family: Verdana;
            font-weight: bold;
            font-size: medium;
            color: #33CCCC;
        }

        .dataTables_wrapper .btn-secondary {
            color: #235;
            background-color: transparent !important;
            border-color: transparent;
            font-size: x-large;
        }

        a {
            color: #01a6a6;
        }

        .card-body {
            font-family: Calibri !important;
            padding-bottom: 0px !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        td {
            text-align: center;
            color: black !important;
            font-size: 16px !important; /* Increased font size */
            padding: 10px !important; /* Increased padding */
        }

        .table {
            border-spacing: 10px; /* Space between cells */
            width: 100%;
        }

            .table td {
                padding: 10px !important; /* Increased padding */
                font-size: 14px !important; /* Increased font size */
            }

            .table th {
                padding: 10px !important; /* Increased padding */
                font-size: 14px !important; /* Increased font size */
            }

        table.dataTable > thead .sorting:after, table.dataTable > thead .sorting:before {
            font-size: xx-small !important;
        }

        div.dt-buttons {
            margin-top: -20px !important;
        }

        .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-size: small !important;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            height: 20px !important;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding: 0px !important;
            font-size: small !important;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            font-size: small !important;
        }

        button.video-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #17A2B8;
            color: #FFFFFF;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
        }

        .date-input {
            margin-right: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .filter-btn {
            background-color: #64bbc9;
            color: #fff;
            border: none;
            padding: 8px 16px;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
        }

        .image-style {
            width: 35px;
            height: auto;
        }

        .filter-btn {
            width: 30px;
            height: 30px;
            padding: 0;
            border: none;
            cursor: pointer;
            background: none;
        }

        .modal-title {
            font-weight: bold;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
    <br />
    <div class="card " style="padding:5px;margin-right:20px;margin-left:10px; margin-top:-15px">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <h2 class="col">Salary Details </h2>
                </div>
                @*<div class="row">
                    <div class="col-md-3 form-group d-flex align-items-center justify-content-start" id="rowmonth">
                        <label style="font-size: 15px; margin-right: 10px;" id="monthLabel">Month And Year</label>
                        <input type="month" name="month" id="monthandyear" class="form-control">
                    </div>
                </div>*@
                <div class="row">
                    @foreach (var slip in ViewBag.SalarySlips)
                    {
                        <div class="col-md-12">
                            <h3>Staff Name: @slip.StaffName</h3>
                            <h3>Staff Position: @slip.StaffPosition</h3>
                        </div>
                        break;
                    }

                </div>
            </div>
        <div class="card-body">
        


                <div class="container-fluid" style="overflow-x: auto;">
                    <div class="row">
                        <div class="table-responsive">
                            <br />

                            <table id="example1" class="table table-bordered table-striped" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th hidden>Staff Code</th>
                                        @*<th>Staff Name</th>
                                        <th>Staff Position</th>*@
                                       
                                        <th>Gross Salary</th>
                                       
                                        <th>Net Salary</th>
                                        <th>Salary Credited Date</th>
                                        <th>Advance Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var slip in ViewBag.SalarySlips)
                                    {
                                        <tr>
                                            <td hidden>@slip.StaffCode</td>
                                           @* <td>@slip.StaffName</td>
                                            <td>@slip.StaffPosition</td>*@
                                          
                                            <td>@slip.GrossSalary.ToString("C", new CultureInfo("en-IN"))</td>
                                           
                                            <td>@slip.NetSalary.ToString("C", new CultureInfo("en-IN"))</td>
                                            <td>@slip.SalaryCreditedDate.ToString("dd MMM yyyy")</td>
                                            <td>@slip.AdvanceAmount.ToString("C", new CultureInfo("en-IN"))</td>
                                     </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- jQuery -->
                        <script src="~/Content/plugins/jquery/jquery.min.js"></script>
                        <!-- Bootstrap 4 -->
                        <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                        <!-- DataTables  & Plugins -->
                        <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
                        <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
                        <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
                        <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
                        <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
                        <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
                        <script src="~/Content/plugins/jszip/jszip.min.js"></script>
                        <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
                        <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
                        <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
                        <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
                        <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
                        <script src="~/Content/Admin/js/Icon.js"></script>
                        <script src="~/Content/plugins/sweetalert2/sweetalert2.all.min.js"></script>


                        <script type="text/javascript">

                         $(document).ready(function () {
                           $.noConflict();
                           var table = $('#example1').DataTable({
                          "responsive": true,
                          "lengthChange": false,
                          "autoWidth": false,
                          "buttons": [
                         {
                    extend: 'copy',
                    text: '<img src="/Content/Admin/icon/copy.png" title="Copy" alt="Copy" height="20" width="20" />',
                    titleAttr: 'Copy'
                },
                {
                    extend: 'csv',
                    text: '<img src="/Content/Admin/icon/csv.jpg" title="CSV" alt="CSV" height="25" width="25" />',
                    titleAttr: 'CSV'
                },
                {
                    extend: 'excel',
                    text: '<img src="/Content/Admin/icon/xls-file.png" title="xls" alt="xls" height="20" width="20" />',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'pdf',
                    text: '<img src="/Content/Admin/icon/pdf-file.png" title="pdf" alt="pdf" height="20" width="20" />',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    text: '<img src="/Content/Admin/icon/printer.png" title="printer" alt="printer" height="20" width="20" />',
                    titleAttr: 'Print'
                },
                {
                    extend: 'colvis',
                    text: '<img src="/Content/Admin/icon/column.jpg" title="column" alt="column" height="20" width="20" />',
                    titleAttr: 'Columns'
                }
            ]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

       $(document).ready(function () {
   
});
    });
                        </script>
</body>
</html>