@model GSTEducationERPLibrary.Accountant.Accountant

<div>
    <h2>view purchase bill</h2>
    <dl class="dl-horizontal">
        
        
       
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSNCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSNCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceAmount)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.BankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankId)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranId_CheqNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranId_CheqNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeClrncDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeClrncDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

    </dl>
</div>
