@model GSTEducationERPLibrary.Accountant.Accountant

<div>
    <h4>Accountant</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt>
                @Html.DisplayNameFor(model => model.ExpenseType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpenseType)
            </dd>
        </div>
          
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpID)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranscationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranscationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceToName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceToName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranscationChequedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranscationChequedate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
